@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.searchcontainer{
    width: 43.647rem;
    margin-right: 20px;
    display: flex;
    padding: 25px 20px;
    justify-content: space-between;
    border: 0.938621px solid #1F1F1F;
    border-radius: 3.75448px;
}
.suprise{
    width:250px;
    color: #9B9B9B;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}
.supone{
    display: flex;
    align-items: center;
}
.searchee{
    display: flex;
    width: 243px;
}
.large{
    width: 210px;
    border: none;
    margin-left:10px;
    font-weight: 600;
    font-size: 11.2634px;
    color: #9B9B9B;
    outline: none;
    border-radius: 5px;
    padding-left: 5px;
}
.large:focus{
    border: 1px solid #9B9B9B;
}
.general{
    font-family: 'raleway',sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 3.75448px 9.38621px rgba(0, 0, 0, 0.25);
}
.side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.notordered{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    min-width: 380px;
    font-weight: 500;
    font-size: 13px;
    color: #1f1f1f;
}
.listerone{
    background: #ffb901;
    color: #fff;
    padding: 14px;
    border-radius: 2.15577px;
    font-size: 8.74837px;
}
.barer1, .barer2, .barer3{
    width: 25px;
    height: 3px;
    background-color: #1f1f1f;
    margin: 5px;
    border-radius: 3px;
}
.bars{
    display: none;
    cursor: pointer;
    z-index: 2;
    margin-top: 20px;
    margin-right: -5px;
}
.lister{
    cursor: pointer;
}
.explorer{
    text-decoration: none;
    color: #000;
}
.explorer:active{
    color: blue;
} 
@media screen and (max-width:1180px) {
    .searchcontainer{
        flex-direction: column;
        min-width: 180px;
        width: 50vw;
        max-width: 300px;
        margin: auto;
        margin-bottom: 20px;
    }
    .large{
        min-width: 110px;
        width: 30vw;
    }
    .side{
        /* background-color: #907853; */
        background-color: #ffb901;
        position: fixed;
        top: 5vh;
        right: 0;
        border-radius: 10px;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        padding: 20px;
        flex-direction: column;
        max-width: 350px;
        z-index: 1;
    }
    .suprise{
        display: none;
    }
    .notordered{
        flex-direction: column;
        height: 350px;
        padding: 20px;
        width: 200px;
        color: #fff;
        min-width: 80px;
    }
    .bars{
        display: block;
    }
    .general{
        padding: 10px;
    }
}
.side__active{
    transform: translateX(0);
}
.work .barer1{
    transform: translatey(8px) rotate(45deg);
}
.work .barer2{
    opacity: 0;
}
.work .barer3{
    transform: translatey(-8px) rotate(-45deg);
}
    /* display: grid;
    grid-gap: 5px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)) */