@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
*, *::before *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Raleway', sans-serif;
}
.pice{
    width:100vw;
}
.satisfactionone{
    font-weight: 700;
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 707.27px;
}
.hiartwo{
    align-self: flex-end;
}
.henmo{
    font-family: 'Herr Von Muellerhoff', sans-serif;
    color: #FFB901;
}
.satisfactiontwo{
    color: #9B9B9B;
    font-size: 5vw;
    max-width: 1006px;
    padding: 10px;
    margin: auto;
    margin-bottom: 90px;
}
.pathners{
   display: flex;
   justify-content: center;
    font-size: 5vw;
    font-weight: 100;
    color: #1F1F1F;
}
.shock{    
    width: 86px;
    height: 1px;
    background-color: #1f1f1f;
    margin: auto;
    width: 15vw;
    margin-top: 15px;
}
.evenner{
    width: 50vw;
    max-width: 213px;
    height: 6px;
    margin-top: 30px;
    background-color: #ffb901;
}
.over{
    font-size: 5vw;
    font-weight: 400;
    max-width: 647px;
}
.contin, .contiin{
    display: flex;
    justify-content:center;
    flex-flow: wrap;
    gap: 20px;
    padding: 10px;
    margin-top: 10vw;
}
.collect{
    font-weight: 100;
    font-size:6vw;
    margin-bottom: 30px;
}
.moveer, .moer{
    width: 90vw;
    max-width: 645px;
}
.contiin{
    flex-direction: row-reverse;
}
@media screen and (min-width:396px){
    .over{
        font-size: 18px;
    }
    .collect{
        font-size: 25px;
    }
    .contin, .contiin{
        margin-top: 80px;
    }
}
@media screen and (min-width:646px){
    .satisfactionone{
        font-size: 72px;
        margin-top: 50px;
    }
    .satisfactiontwo{
        font-size: 36px;
        margin-bottom: 150px;
    }
    .pathners{
        font-size: 25px;
    }
    .shock{
        width: 86px;
    }
}
@media screen and (min-width:1400px){
    .contin, .contiin{
        justify-content: space-between;
        padding: 20px 30px;
    }
}
