@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.general{
    font-family: 'Raleway', sans-serif;
    background-color:#F6F6F6;
    margin-top: 40px;
    padding: 10px;
    padding-top: 80px;
}
.see{
    font-weight: 100;
    font-size: 10vw;
    text-align: center;
}
.bottomline{
    background-color: #9B9B9B;
    width: 39vw;
    margin: auto;
    height: 1px;
    margin-top: 20px;
}
.hower{
    font-weight: 500;
    max-width: 220px;
    font-size: 19px;
    margin-bottom: 20px;
}
.learnhow{
    max-width: 284px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
.displayy, .normal{
    max-width: 345px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
    border: 0.2px solid #9B9B9B;
    height:268px;
    cursor: pointer;
}
.helper{
    max-width: 1378px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    border-right: none;
}
.genpara{
    font-weight: 400;
    font-size: 4vw;
    margin-bottom: 20px;
}
.genpatwo{
    font-weight: 400;
    font-size: 7vw;
}
.generalonefirst{
    border: 0.1px solid #9b9b9b;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
    height: 50vw;
    padding: 30px;
    max-height: 250px;
    cursor: pointer;
    width: 467px;
}
.ame{
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}
.generalone{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
.helpertitle{
    margin-bottom: 50px;
}
@media screen and (min-width: 468px) {
    .general{
        padding-top: 100px;
    }
    .generalonefirst{
        width: 467px;
    }
    .see{
        font-size: 51px;
    }
    .bottomline{
        width: 396px;
    }
    .displayy, .normal{
        padding: 20px;
    }
    .genpara{
        font-size: 18px;
    }
    .genpatwo{
        font-size: 36px;
    }
    .helpertitle{
        margin-bottom: 110px;
    }
}
@media screen and (min-width: 1299px){
    .displayy, .normal{
        border-left: none;
    }
    .displayy{
        border-right: none;         
    }
}
@media screen and (min-width: 1402px){
    .generalone{
        width:1401px;
    }
}