@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.have{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 7vw;
    color: #ffffff;
}
.spanner{
    font-family: 'Herr Von Muellerhoff' , sans-serif ;
    color: #FFB901;
}
.upperleft{
    max-width: 494px;
    background-color: black;
    margin-bottom: 70px;
}
.emaill{
    max-width: 332px;
    padding: 13.1613px 0px 13.1613px 15px;
    width: 80vw;
    border-radius: 2.63227px;
    outline: none;
    border: none;
    font-style: italic;
}
.subscribe{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 44.5px;
    margin-top: 30px;
}
.buttonofsubscribe{
    background: #FFB901;
    border-radius: 2.63227px;
    color: #000;
    outline: none;
    border: none;
    padding: 13.1613px 20px;
}
.upperright{
    height: 50vw;
    display: none;
    margin-top: 250px;
}
.container{
    background-color: #000;
    margin-top:70px;
    padding-top: 30px;
}
.upper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.listerr{
    color: #9B9B9B;
    font-weight: 500;
    font-size: 13px;
    list-style: none;
}
.listerrss{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    font-weight: bold;
}
.lower{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.lowerlowest{
    display: flex;
    width: 65rem;
    align-items: center;
    background-color: #000;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-right: 20px;
}
.container{
    padding-left: 20px;
    overflow-x: hidden ;
}
.lowerupper{
    color: #fff;
    font-weight: bold;
}
.remember{
    color:#fff;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    font-size: 9px;
}
.love{
    color: #ffffff;
}
.listerrss, .listerr, .buttonofsubscribe, .lowerupper{
    cursor: pointer;
}
.remember{
    padding: 8px;
}
@media only screen and (min-width:765px){
    .have{
        font-size: 51px;
    }
    .subscribe{
        column-gap: 42px;
    }
    .upperleft{
        margin-top: 70px;
    }
    .lower{
        margin-top: -30px;
    }
    .remember{
        font-size: 12px;
    }
}

@media only screen and (min-width:1272px){
    .upperright{
        display: block;
        margin-right: -50px;
    }
    .lower{
        margin-top: -290px;
        width: 100vw;
    }
    .lowerupper{
        margin-top: 79px;
        font-size: 23px;
    }
    .container{
        padding-right: 50px;
    }
    .lowerlowest{
        padding: 90px 50px 90px 0px;
    }
    .upper{
        justify-content: space-between;
        padding-left: 40px;
    }
    .listerr{
        font-size: 18px;
    }
    .listerrss{
        font-size: 23px;
    }
}