@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.have{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 7vw;
    color: #ffffff;
}
.spanner{
    font-family: 'Herr Von Muellerhoff' , sans-serif ;
    color: #FFB901;
}
.upperleft{
    max-width: 494px;
    background-color: black;
    margin-bottom: 70px;
}
.emaill{
    max-width: 332px;
    /* padding: 10px; */
    padding: 13.1613px 0px 13.1613px 15px;
    width: 80vw;
    border-radius: 2.63227px;
    outline: none;
    border: none;
    font-style: italic;
}
.subscribe{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 44.5px;
    margin-top: 30px;
}
.buttonofsubscribe{
    background: #FFB901;
    border-radius: 2.63227px;
    color: #000;
    outline: none;
    border: none;
    padding: 13.1613px 20px;
}
.upperright{
    height: 50vw;
    display: none;
    margin-top: 250px;
}
.container{
    background-color: #000;
    margin-top:70px;
    padding-top: 30px;
}
/* div{
    border: 1px solid green;
} */
.upper{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.listerr{
    color: #9B9B9B;
    font-weight: 500;
    font-size: 13px;
    list-style: none;
}
.listerrss{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    font-weight: bold;
}
.lower{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.lowerlowest{
    display: flex;
    width: 65rem;
    align-items: center;
    background-color: #000;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-right: 20px;
}
.container{
    padding-left: 20px;
    overflow-x: hidden ;
}
.lowerupper{
    color: #fff;
    font-weight: bold;
}
/* .west{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    justify-content: center;
    background-color: #000;
    background-color: red;
    max-width: 80rem;
} */
/* .hottelss{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
} */
/* .lower{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between;
    margin: 0 45px;
    gap: 40px;
} */
/* .lowerupper{
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
} */
.listerrss, .listerr, .buttonofsubscribe, .lowerupper{
    cursor: pointer;
}
@media only screen and (min-width:765px){
    .have{
        font-size: 51px;
    }
    .subscribe{
        column-gap: 42px;
    }
    .upperleft{
        margin-top: 70px;
    }
    /* .west{
        padding-top: 80px ;
        margin-top: 80px;
    } */
    /* .hottelss{
        height: 180px;
    } */
    /* .lowerupper{
        margin-top: 152px;
    } */
    .lower{
        margin-top: -30px;
    }
}

@media only screen and (min-width:1272px){
    .upperright{
        display: block;
        margin-right: -50px;
    }
    .lower{
        margin-top: -290px;
        width: 100vw;
        /* background-color: red; */
        /* padding-left: 200px; */
        /* justify-content: center; */
    }
    /* .hottelss{
        padding-bottom: 20px;
        height: 180px;
        margin-right:90px;
    } */
    .lowerupper{
        margin-top: 79px;
        font-size: 23px;
    }
    .container{
        padding-right: 50px;
    }
    .lowerlowest{
        padding: 90px 50px 90px 0px;

    }
    /* .west{
        column-gap: 80px;
        padding-top: 80px;
        padding-bottom: 80px; 
    } */
    .upper{
        justify-content: space-between;
        padding-left: 40px;
    }
    .listerr{
        font-size: 18px;
    }
    .listerrss{
        font-size: 23px;
    }
}