@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Raleway', sans-serif;
    padding:10px;
    display: flex;
    flex-direction: column;
}
.todaygeneral{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.today{
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 7vw;
    font-weight: 100;
    padding-bottom: 10px;
}
.shortline{
    height: 1px;
    width: 62vw;
    background-color: #bfbfbf;
}
.heroimage{
    margin: 50px 0;
}
.slidercontainer{
    border: 1.00776px solid #9B9B9B;
    border-radius: 14.1086px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10.1551px 15.1939px;
    width: 85vw;
    max-width: 270.97px;
    max-height: 96.6px;
}
.names{
    font-weight: 700;
    font-size: 16px;
}
.ratings{
    font-weight: 500;
    font-size: 13px;
    color: #9B9B9B;
}
.placement{
    position: absolute;
    right: -15px;
    top: 9px;
}
.slider{
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:1080px){
    .container{
        padding:60px 40px 0;
    }
    .today{
        font-size: 72px;
    }
    .shortline{
        max-width: 577.96px;
    }
    .slidercontainer{
        width: 16.436rem;
    }
}