@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Raleway', sans-serif;
}
.resizing{
    max-width: 330px;
    max-height: 259px;
    width: 85vw;
}
.leftyone{
    font-size: 13px;
    font-weight: 500;
    color: #9b9b9b;
}
.leftytwo{
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
    margin: 7px 0;
}
.leftythree{
    font-weight: 700;
    font-size: 18px;
}
.righty{
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
}
.lefty{
    width: -moz-fit-content;
    width: fit-content;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 330px;
    width: 85vw;
}
.everything{
    margin: auto;
}
.general{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    margin: auto;
    margin: 0 20px;
}
.seen{
    font-weight: 500;
    font-size: 13px;
    color: #9b9b9b;
    margin-bottom: 3px;
}
.whatis{
    font-weight: 600;
    font-size: 25px;
}
.listing{
    margin: 20px 40px;
}
.containerchild{
    margin-top: 90px;
}
.carnivalheading{
    font-weight: 100;
    font-size: 36px;
    text-align: center;
    max-width: 518px;
    margin: auto;
    letter-spacing: 0.04em;
}
.shorterline{
    height: 1px;
    width: 30vw;
    max-width: 308.19px;
    background-color: #9b9b9b;
    margin: auto;
    margin-top: 10px;
}
.carnival{
    margin-top: 70px;
}
.carnivaltwo{
    background-image: url(/src/images/carnival.svg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 90vw;
    border-radius: 14.4178px 14.4178px 14.4178px 0px;
    color: #fff;
    text-align: center;
    max-width:1600.35px;
    margin: auto;
    padding: 20px;
    padding-top: 90px;
    margin-top: 70px;
    position: relative;
}
.carnivaltwo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 14.4178px 14.4178px 14.4178px 0px;
}
.headder{
    font-weight: 600;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 30px;
}
.paarr{
    max-width: 676.2px;
    font-weight: 500;
    font-size: 13px;
    margin: auto;
    margin-bottom: 30px;
}
.bookearly, .learnmore {
    padding: 20px;
    background: #FFB901;
    border-radius: 4.03103px;
    width: 147.47px;
    /* padding: 15.1164px 30.2327px; */
    padding: 15.1164px;
    cursor: pointer;
}
.learnmore{
    background-color: transparent;
    border: 1px solid #FFB901;
}
.containingtwo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 26px;
}
.lastend{
    max-width: 268.11px;
    margin: 20px;
    align-self: flex-end;
}
.firstlymapped{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.simpleone{
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
}
.properties{
    font-weight: 300;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
}
.letsdoit{
    margin: 0 10px;
}
.simpletwo{
    font-weight: 300;
    font-size: 9px;
    color: #ffffff;
    max-width: 268.11px;
    margin: 3px 0px 5px 0px;
}
.bluet{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/src/images/lagos.svg);
}
.reddit{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/src/images/calabar.svg);
}
.greenn{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/src/images/abuja.svg);
}
.yelloww{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/src/images/oyo.svg);
}
.bluet, .reddit, .yelloww, .greenn {
    max-width: 309.38px;
    border-radius: 14.2923px;
    height: 379.92px;
    display: flex;
    margin: auto;
}
.citigars{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    max-width: 1850px;
    margin: auto;
    margin: 50px 40px 0px 40px;
}
@media screen and (min-width: 786px) {
    .carnivaltwo{
        height:407.99px;
        padding: 0;
    }
    .headder{
        font-size: 36px;
        margin-bottom: 40px;
    }
    .paarr{
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 1024px) {
}