@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.generalContainer{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
    background-color: #ccc;
    padding:50px 20px;
    border-radius: 20px;
    max-width: 450px;
    margin: 20px;
}
.textfieldStyles{
    max-width: 500px;
    border-radius: 30px;
    margin-top: 15px !important;
}

.login{
    font-size: 14vw;
    font-weight: 700;
    color: #FFB901;
    margin-bottom: 30px;
}
.submitbutton{
    padding: 10px;
    background-color:#FFB901;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    font-size: 8vw;
    width: 13vw;
    min-width: 150px;
    margin-top: 1.5rem;
    cursor: pointer;
    max-width: 200px;
}
.errorMsg{
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 12px;
}
@media screen and (min-width: 468px) {
    .login{
        font-size: 70px;
    }
    .submitbutton{
        font-size: 30px;
    }
}
@media screen and (min-width: 468px) {
    .generalContainer{
        margin: auto;
        margin-top: 20px;
    }
}