@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.general{
    background-color: #ccc;
}
input[type="password"],
input[type="email"]{
    min-width:200px;
    width: 24vw;
    max-width: 500px;
    font-weight: 700;
    border: 2px solid #FFB901;
    border-radius: 30px;
    padding: 14px;
    margin-top: -10px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    max-width: 500px;
    border-radius: 20px;
    padding:50px 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
    width: 27vw;
    min-width:220px ;
    margin: 10px;
    margin: auto;
    margin-top: 50px;

}
.login{
    font-size: 14vw;
    font-weight: 700;
    margin-bottom: 2.6rem;
    color: #FFB901;
}
.submitbutton{
    padding: 10px;
    background-color:#FFB901;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    font-size: 8vw;
    /* max-width: 800px; */
    width: 13vw;
    min-width: 150px;
    margin-top: 2.6rem;
    cursor: pointer;
}
.formfill{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width: 468px) {
    .login{
        font-size: 70px;
        margin-bottom: 50px;
    }
    .submitbutton{
        font-size: 30px;
    }
}